$maw: 960px;
$color1:rgb(38, 55, 66);
$Montserrat: 'Monserat', sans-serif;
$OpenSans: 'Open Sans', Sans-serif;
$red:#fa5c65;
$grey: #314a5b;
$lightgrey: #9aa0ab;
*{
  margin: 0;
  padding: 0;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}
%ul {
  list-style: none;
  padding: 0;
  margin: 0;

}
.wrapper {
  max-width: $maw;
  margin: 0 auto;
  position: relative;

}

.more{
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: $red;
  font-family: $Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  &:after{
    content: '\27A0';

  }

}
$prefixes: "-webkit-", "-o-", "-moz-", "-ms-";
/*-----------------------------------
MIXIN
-----------------------------------*/
@mixin addprefix($item, $val){
  @each $tmp in $prefixes{
    #{$tmp}#{$item}:#{$val};
  }
#{$item}:$val

}