@import "font";
@import "setting";

section#top {
  position: relative;
  height: 100vh;
  background: url(img/bg.jpg) no-repeat center 0 / cover;
  background-attachment: fixed;
  &>.wrapper {
  @extend %flex;

    height: 100%;
  }
  .header {
    @extend %flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-self: flex-start;
        .logo{
          display:block;
          width: 140px;
          height: 70px;
          background: url("img/logo.png") no-repeat;
        }
        nav {
          ul {
            @extend %ul, %flex;
            margin-top: 25px;
            li{
              margin-left: 30px;
              a{
                  font-size: 14px;
                  font-family: $Montserrat;
                  font-weight: 400;
                  color: $color1;
                  text-transform: uppercase;
                  text-decoration:none;
                &:hover {
                  color:$red;

                }



              }
              &.social{
                a{
                  width: 25px;
                  height: 25px;
                  display: inline-block;
                  background: url("img/social-icons.png") no-repeat;
                  @include addprefix(filter, grayscale(100%));
                  transition: all 0.3s ease;

                  &:hover {
                    @include addprefix(filter, grayscale(0%));
                  }
                  &.vk {
                    background-position: 0 0;
                  }
                  &.ins {
                    background-position: 100% 0;
                  }
                }

              }
            }

          }
        }
  }
  .sloganCont {
    max-width: 58%;
    h1{
      font-family: $Montserrat;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      color: $grey;

    }
    h4{
      font-family: $OpenSans;
      color: $grey;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      margin: 20px 0 15px 0;
    }
    .btn {
      display: block;
      text-decoration: none;
      margin-top: 50px;
      span{
        color: white;
        font-family: $OpenSans;
        font-size: 15px;
        font-weight: 700;
        padding: 25px 35px;
        background-color: $red;
        border-radius: 7px;
        text-transform: uppercase;

        





      }


    }
  }


}
section#snippets{
  position: relative;
  &>.wrapper{
    &>ul {
      @extend  %ul, %flex;
      margin: 80px 0;
      li{
        width: (100%/ 3);
        box-sizing: border-box;
        padding-right: 55px;
      }
    }

  }

}
