@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext");
* {
  margin: 0;
  padding: 0; }

section#top > .wrapper, section#top > footer, section#top .header, section#top .header nav ul, section#snippets > .wrapper > ul, section#snippets > footer > ul, section#portfolio > .wrapper, section#portfolio > footer, section#team > .wrapper > .row2, section#team > footer > .row2, section#team > .wrapper > .row2 li, section#team > footer > .row2 li, footer {
  display: flex;
  flex-wrap: wrap; }

section#top .header nav ul, section#snippets > .wrapper > ul, section#snippets > footer > ul, section#team > .wrapper > .row2, section#team > footer > .row2 {
  list-style: none;
  padding: 0;
  margin: 0; }

.wrapper, footer {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

.more {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #fa5c65;
  font-family: "Monserat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }
  .more:after {
    content: '\27A0'; }

/*-----------------------------------
MIXIN
-----------------------------------*/
section#top {
  position: relative;
  height: 100vh;
  background: url(img/bg.jpg) no-repeat center 0/cover;
  background-attachment: fixed; }
  section#top > .wrapper, section#top > footer {
    height: 100%; }
  section#top .header {
    flex-basis: 100%;
    justify-content: space-between;
    align-self: flex-start; }
    section#top .header .logo {
      display: block;
      width: 140px;
      height: 70px;
      background: url("img/logo.png") no-repeat; }
    section#top .header nav ul {
      margin-top: 25px; }
      section#top .header nav ul li {
        margin-left: 30px; }
        section#top .header nav ul li a {
          font-size: 14px;
          font-family: "Monserat", sans-serif;
          font-weight: 400;
          color: #263742;
          text-transform: uppercase;
          text-decoration: none; }
          section#top .header nav ul li a:hover {
            color: #fa5c65; }
        section#top .header nav ul li.social a {
          width: 25px;
          height: 25px;
          display: inline-block;
          background: url("img/social-icons.png") no-repeat;
          -webkit-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          filter: grayscale(100%);
          transition: all 0.3s ease; }
          section#top .header nav ul li.social a:hover {
            -webkit-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(0%); }
          section#top .header nav ul li.social a.vk {
            background-position: 0 0; }
          section#top .header nav ul li.social a.ins {
            background-position: 100% 0; }
  section#top .sloganCont {
    max-width: 58%; }
    section#top .sloganCont h1 {
      font-family: "Monserat", sans-serif;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      color: #314a5b; }
    section#top .sloganCont h4 {
      font-family: "Open Sans", Sans-serif;
      color: #314a5b;
      font-size: 20px;
      font-weight: 400;
      line-height: 40px;
      margin: 20px 0 15px 0; }
    section#top .sloganCont .btn {
      display: block;
      text-decoration: none;
      margin-top: 50px; }
      section#top .sloganCont .btn span {
        color: white;
        font-family: "Open Sans", Sans-serif;
        font-size: 15px;
        font-weight: 700;
        padding: 25px 35px;
        background-color: #fa5c65;
        border-radius: 7px;
        text-transform: uppercase; }

section#snippets {
  position: relative; }
  section#snippets > .wrapper > ul, section#snippets > footer > ul {
    margin: 80px 0; }
    section#snippets > .wrapper > ul li, section#snippets > footer > ul li {
      width: 33.3333333333%;
      box-sizing: border-box;
      padding-right: 55px; }
      section#snippets > .wrapper > ul li h3, section#snippets > footer > ul li h3 {
        font-family: "Monserat", sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #314a5b; }
      section#snippets > .wrapper > ul li .descr, section#snippets > footer > ul li .descr {
        color: #9aa0ab;
        font-family: "Open Sans", Sans-serif;
        font-weight: 400;
        font-size: 15px; }

section#portfolio {
  margin: 80px 0; }
  section#portfolio > .wrapper, section#portfolio > footer {
    justify-content: space-between; }
    section#portfolio > .wrapper > .col, section#portfolio > footer > .col {
      width: 48%; }
      section#portfolio > .wrapper > .col:first-of-type, section#portfolio > footer > .col:first-of-type {
        max-width: 100%; }
      section#portfolio > .wrapper > .col:nth-of-type(2), section#portfolio > footer > .col:nth-of-type(2) {
        align-self: center; }
      section#portfolio > .wrapper > .col h2, section#portfolio > footer > .col h2 {
        font-family: "Monserat", sans-serif;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #314a5b; }
      section#portfolio > .wrapper > .col h4, section#portfolio > footer > .col h4 {
        color: #314a5b;
        font-family: "Open Sans", Sans-serif;
        font-weight: 400;
        font-size: 16px; }
      section#portfolio > .wrapper > .col .descr, section#portfolio > footer > .col .descr {
        font-family: "Open Sans", Sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #9aa0ab; }

section#team > .wrapper > .row1 h2, section#team > footer > .row1 h2 {
  font-family: "Monserat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #314a5b;
  margin: 0; }
section#team > .wrapper > .row1 h3, section#team > footer > .row1 h3 {
  color: #314a5b;
  font-family: "Open Sans", Sans-serif;
  font-weight: 400;
  font-size: 16px; }
section#team > .wrapper > .row2, section#team > footer > .row2 {
  margin-top: 30px; }
  section#team > .wrapper > .row2 li, section#team > footer > .row2 li {
    width: 33.3333333333%;
    padding-right: 35px;
    box-sizing: border-box; }
    section#team > .wrapper > .row2 li .col1, section#team > footer > .row2 li .col1 {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background: no-repeat center/cover; }
    section#team > .wrapper > .row2 li .col2, section#team > footer > .row2 li .col2 {
      width: calc(100% - 128px);
      padding-left: 20px;
      box-sizing: border-box; }
      section#team > .wrapper > .row2 li .col2 h3, section#team > footer > .row2 li .col2 h3 {
        color: #314a5b;
        font-family: "Monserat", sans-serif;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase; }
      section#team > .wrapper > .row2 li .col2 h4, section#team > footer > .row2 li .col2 h4 {
        color: #fa5c65;
        font-family: "Open Sans", Sans-serif;
        font-size: 14px;
        font-weight: 700; }
      section#team > .wrapper > .row2 li .col2 .descr, section#team > footer > .row2 li .col2 .descr {
        color: #9aa0ab;
        font-size: 14px;
        font-weight: 400;
        font-family: "Open Sans", Sans-serif;
        margin-top: 15px; }

footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  min-height: 90px;
  border-top: 1px solid #9aa0ab; }
  footer .col1 a {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 20px;
    background: url(img/Social-Icons2.png) no-repeat 0 center;
    opacity: 0.8; }
    footer .col1 a.tw {
      background-position-x: 0; }
    footer .col1 a.ins {
      background-position-x: 36%; }
    footer .col1 a.fb {
      background-position-x: 66%; }
    footer .col1 a.gp {
      background-position-x: 100%; }
    footer .col1 a:hover {
      opacity: 1; }
  footer .col2 {
    font-family: "Open Sans", Sans-serif;
    color: #9aa0ab;
    font-size: 13px;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
